.receta {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-receta {
    max-width: 500px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-receta div {
    padding: 10px;
}

.contenedor-inputs textarea,
.contenedor-inputs input {
    margin-top: 10px;
}

.contenedor-imagen {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contenedor-imagen img {
    width: 100%;
    max-width: 135px;
    height: auto;
}